@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Kendo.Mvc.UI
@using TCAdmin.SDK.Web.MVC.Extensions
@using TCAdminServerBanner.Controllers
@model TCAdminServerBanner.Models.OverlayModel

@{
    var gameId = ViewData["gameId"].ToString();
    var overlays = ServerBannerController.GetOverlaysForGame(int.Parse(gameId));
}

@using (Ajax.BeginForm("OverlaySettings", "ServerBanner", new AjaxOptions {OnComplete = "onComplete", OnBegin = "onBegin"}))
{
    @Html.AntiForgeryToken()
    <div class="primary-toolbar">
        @(Html.Kendo().ToolBar()
            .Name("overlaysToolBar")
            .Items(items =>
            {
                items.Add().Template(this.GetToolbarButton(Resources.Global.Save, "save"));
                items.Add().Type(CommandType.Button).Icon("cancel").Text(Resources.Global.Cancel).Click("TCAdmin.Ajax.CancelClicked");
                items.Add().Type(CommandType.Separator);
                items.Add().Type(CommandType.Button).Text("Add").Icon("plus").Click("function() {addOverlay();}");
                items.Add().Type(CommandType.Button).Text("Delete").Icon("minus").Click("function() {deleteOverlay();}");
            }))
    </div>

    <div class="primary-content">
        <fieldset class="fieldset-form auto-focus">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.BannerObjectId)
            @Html.Hidden("id", gameId)
            <ul>
                <li>
                    <dl>
                        <h3>
                            Edit Overlay: @(Html.Kendo().DropDownList()
                                              .Name("overlayList")
                                              .Filter(FilterType.Contains)
                                              .BindTo(overlays.Select(x => new DropDownListItem
                                              {
                                                  Text = x.Url,
                                                  Value = x.BannerObjectId.ToString(),
                                              }))
                                              .DataTextField("Text")
                                              .DataValueField("Value")
                                              .AutoWidth(true)
                                              .Events(x => x.Select("overlaySelect"))
                                              )
                        </h3>
                        <dt>@Html.LabelFor(m => m.Url)</dt>
                        <dd>@Html.Kendo().TextBoxFor(m => m.Url)@Html.ValidationMessageFor(m => m.Url)@Html.TooltipFor(m => m.Url)</dd>
                        <dt>@Html.LabelFor(m => m.PositionX)</dt>
                        <dd>@Html.Kendo().NumericTextBoxFor(m => m.PositionX).Format("#")@Html.ValidationMessageFor(m => m.PositionX)@Html.TooltipFor(m => m.PositionX)</dd>
                        <dt>@Html.LabelFor(m => m.PositionY)</dt>
                        <dd>@Html.Kendo().NumericTextBoxFor(m => m.PositionY).Format("#")@Html.ValidationMessageFor(m => m.PositionY)@Html.TooltipFor(m => m.PositionY)</dd>
                        <dt>@Html.LabelFor(m => m.ViewOrder)</dt>
                        <dd>@Html.Kendo().NumericTextBoxFor(m => m.ViewOrder).Format("#")@Html.ValidationMessageFor(m => m.ViewOrder)@Html.TooltipFor(m => m.ViewOrder)</dd>
                    </dl>
                </li>
            </ul>
        </fieldset>
    </div>
}

<script>    
    function addOverlay(){
        kendo.prompt("Enter the Image URL for the new overlay:", "").then(function (data) {
            $.ajax({
                type: "POST",
                url: "/ServerBanner/AddOverlay/" + @gameId,
                data: JSON.stringify({url: data}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (e) {
                    refreshTab(2);
                },
                success: function (e) {
                    refreshTab(2);
                    
                    $("#overlayList").data("kendoDropDownList").select(function(dataItem) {
                        return dataItem.name === data;
                    });
                }
            });
        })
    }
    
    function deleteOverlay(){
        kendo.confirm("Are you sure you want to delete the overlay?:").then(function () {
            $.ajax({
                type: "POST",
                url: "/ServerBanner/DeleteOverlay/" + @gameId,
                data: JSON.stringify({bannerObjectId: $("#overlayList").data("kendoDropDownList").value()}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (e) {
                    refreshTab(2);
                },
                success: function (e) {
                    refreshTab(2);
                    $("#overlayList").data("kendoDropDownList").select(function(dataItem) {
                        return dataItem.index === 0;
                    });
                }
            });
        })
    }
</script>